Visual-Relationship-Detection-master/results_LTN/relationship_det_result_KB_wc_2500.mat
Visual-Relationship-Detection-master/results_LTN/relationship_det_result_KB_nc_2500.mat
Visual-Relationship-Detection-master/results_LTN/predicate_det_result_KB_wc_2500.mat
Visual-Relationship-Detection-master/results_LTN/predicate_det_result_KB_wc_2500.mat

